.input-box {
    position: relative;
    width: 300px;
}

.username {
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(45deg, #0500FF, #06C5FB);
    border-image-slice: 1;
    outline: none;
    background: -webkit-linear-gradient(45deg, #0500FF, #06C5FB);
    font-size: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.username-label {
    position: absolute;
    left: 0;
    padding: 10px 5px;
    background: -webkit-linear-gradient(45deg, #0500FF, #06C5FB);
    font-size: 1.4rem;
    pointer-events: none;
    transition: 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.username:valid ~ label,
.username:focus ~ label {
    transform: translateY(-1rem);
    color: #000;
    font-size: 0.75rem;
}